<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <!--     <div class="field">
        <label>Username</label>
        <input formControlName="username" type="text" />
    </div> -->
    <app-input inputType="text" label="Username" [control]="$any(authForm).get('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="$any(authForm).get('password')"></app-input>
    <app-input inputType="password" label="Password Confirmation"
        [control]="$any(authForm).get('passwordConfirmation')"></app-input>

    <div *ngIf="authForm.get('password').touched &&
     authForm.get('passwordConfirmation').touched && 
     authForm.errors " class="ui red basic label
    ">
        <p *ngIf="authForm.errors?.['passwordDontMatch']">
            Password and password confirmation must match
        </p>
    </div>
    <div>
        <button class="ui button submit primary">Submit</button>
    </div>

    {{authForm.errors | json }}
</form>